body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

/* Header styles */
.header {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1F2937;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F9FAF8;
}

.header-logo {
    display: flex;
    justify-self: flex-start;
    margin-left: 8px;
}

.header-list {
    margin-left: auto;
    margin-right: 8px;
    display: flex;
    justify-self: flex-end;
    gap: 16px;

    list-style: none;
}
/* Header styles */

/* Container one styles */
.container-one {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1F2937;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.c1-left-h1 {
    font-size: 48px;
    margin-bottom: 0;
}

.c1-left-p1 {
    font-size: 18px;
    color: #E5E7EB;

    margin-top: 0;
}

.c1-left-btn {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: none;
    border-radius: 10px;
    background-color: #3882F6;

    font-weight: 500;
    color: #F9FAF8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.c1-left {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.c1-right {
    display: flex;
    justify-self: flex-end;
    margin-right: 28px;
    
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 100px;
    padding-right: 100px;
}
/* Container one styles */

/* Container two styles */
.container-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-two, img {
    width: 100%;

    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.c2-top {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: 700;
    }

.c2-bottom, ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: 74px;
    margin-right: 74px;
}

.c2-bottom, li {
    display: flex;
    flex-direction: column;
}
/* Container two styles */

/*Container three styles */
.container-three {
    display: flex;
    flex-direction: column;

    background-color: #E5E7EB;
}

.c3-p1 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 46px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 0;

    font-style: italic;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
}

.c3-h3 {
    display: flex;
    margin-top: 0;
    margin-left: auto;
    margin-right: 200px;
    align-self: flex-end;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
/*Container three styles */

/* Container four styles */
.container-four {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #E5E7EB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-four-sub-container {
    display: flex;
    padding: 48px;
    margin: 32px;
    border-radius: 8px;
    background-color: #3882F6;
}

.c4-left {
    display: flex;
    flex-direction: column;
}

.c4-left-h3 {
    display: flex;
    margin-bottom: o;
}

.c4-left-p1 {
    display: flex;
    margin-top: 0;
}

.c4-right {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 42px;
}

.c4-right-btn, button {
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    border-style:solid;
    border-color: #E5E7EB;
    color: #E5E7EB;
    background-color: #3882F6;
}
/* Container four styles */

/* Footer container styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px;
    background-color: #1F2937;
}

.footer-p1 {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E5E7EB;
}
/* Footer container styles */